backend/app/model/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Estufa -->
  <xs:element name="estufa">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sensores">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sensor" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="unidade" type="xs:string"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                  <xs:attribute name="tipo" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="leituras">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="leitura" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dataHora" type="xs:dateTime"/>
                    <xs:element name="sensorRef">
                      <xs:complexType>
                        <xs:attribute name="ref" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="valor" type="xs:decimal"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="configuracoes" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="limiteSensor" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="min" type="xs:decimal"/>
                    <xs:element name="max" type="xs:decimal"/>
                  </xs:sequence>
                  <xs:attribute name="tipo" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>